
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MVC STOK PROJESİ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mvc Stok</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Kategori/Index/">Kategoriler</a></li>
                <li><a href="/Ürünler/Index/">Ürünler</a></li>
                <li><a href="/Müşteriler/Index/"> Müşteriler</a></li>
                <li><a href="/Satislar/Index/">Satışlar</a></li>
                <li><a href="/İletisim/Index/">İletişim</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
      @RenderBody()
    </div>

</body>
</html>
