@model MvcStok.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış YAP
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Satış  Yapma Ekranı
                </h2>
            </div>
            <form method="post" action="/Satislar/YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün Adı
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri Adı Soyadı
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info" id="Btn">Satış İşlemini Yap </button>
                    <script>
                        $('Btn').click(function () {
                            alert("Satış İşlemi Yapıldı...!!!");
                        });
                    </script>
                    <button type="button" class="btn btn-danger" data-dissmiss="modal">Vazgeç</button>

                </div>
            </form>
        </div>
    </div>
</div>
