@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Güncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.KATEGORIID)
        @Html.TextBoxFor(m=>m.KATEGORIID, new { @class="Form-Control"})
        <br/>
        @Html.LabelFor(m => m.KATEGORIAD)
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "Form-Control" })
    </div>
    <div><button class="btn btn-warning">Kategori Güncelle</button></div>
    
}