@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
        <label>KATEGORİ ADI</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>*@
    <div>
        <label>KATEGORİ ADI</label>
        @Html.TextBoxFor(m=>m.KATEGORIAD, new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.KATEGORIAD,"",new { @style="color:red"})
    </div>
    <div style="margin-top:15px"><button class="btn btn-info" bt>KATEGORİ EKLE</button></div>
    
</form>