@{
    ViewBag.Title = "About";
}
<br/>
<form  method="get">

    <fieldset>
       Fil Türü Seçiniz <select id="MovieType" name="MovieType" class="form-control">

            <option value=""></option>

            <option value="0">Action</option>

            <option value="1">Drama</option>

            <option selected="selected" value="2">Comedy</option>

            <option value="3">Science Fiction</option>

        </select>

       

    </fieldset>

</form>